{% extends "base_one.html" %}
{% block title %}Message sent successfully{% endblock %}
{% block content %}
	<div class="row valign-wrapper" >
    <div class="col l6 s10 m8 offset-s1 offset-m2 offset-l3 center-align">
      <div class="card white darken-6 z-depth-5" >
        <div class="card-content Black-text">
          <span class="card-title">Message Sent Successfully. Now You can create your own message link and share it to your friends</span>
        </div>
        <div class="card-action">
		  <a href="/register">Create your own Secret Message link<a>
		  
		
        </div>
      </div>
    </div>
  </div>
{% endblock %}