{% extends "base_one.html" %}
{% block title %}Terms and Conditions{% endblock %}
{% block content %}
	<div class="row valign-wrapper" >
    <div class="col l6 s10 m8 offset-s1 offset-m2 offset-l3 left-align">
      <div class="card white darken-6 z-depth-5" >
        <div class="card-content Black-text">
          <span class="card-title">Message Sent Successfully. Now You can create your own message link and share it to your friends</span>
        </div>
        <div class="card-action" style="overflow:hidden;overflow-wrap: break-word">
		
		  <li>This is a fun oriented website. Messages that are sent to you can only be visible to your account</li>
		  <li>Since it is a fun oriented website, we did not take measures in hashing your password. try to use simple password that you can easily remember. </li>
		  <li>We have put the session of the website for 2 days. So you can visit your account without loggin in for 2 days in the device from you are logged in</li>
		  <li>Accept the Terms and conditions only when you are okay with above conditions.</li>
		  
		
        </div>
      </div>
    </div>
  </div>
{% endblock %}